{% for entry in entries %}
    {% if _loop.last %}
        <tr hx-get="/hx-entry?cursor={{ entry.timestamp.timestamp() }}"
            hx-trigger="revealed"
            hx-swap="afterend">
            <td>{{ entry.timestamp.isoformat() }}</td>
            <td>{{ entry.license_plate }}</td>
            <td>{{ entry.gate_id }}</td>
            <td>{{ entry.type.name }}</td>
            <td>{{ entry.price }}</td>
        </tr>
    {% else %}
        {% include "_entry.html" %}
    {% endif %}
{% endfor %}
